fastapi
pydantic[email]
python-multipart
aiofiles
python-dotenv
pytest
pytest-asyncio
httpx
httpx-oauth
asgi-lifespan==1.*
requests
fastapi-crudrouter
fastapi-permissions
fastapi-admin
fastapi-users[tortoise-orm]
aiosqlite
asyncpg
aiomysql
asynctest
