alembic
fastapi
pydantic[email, dotenv]
python-multipart
aiofiles
pytest
pytest-asyncio
httpx
httpx-oauth
asgi-lifespan==1.*
requests
fastapi-crudrouter
fastapi-permissions
passlib
bcrypt
python-jose
pymongo